#sizes() {
  header-height: 45px;
  footer-height: 55px;
}
@navbar-color: #fff;

body{
    background-color: #eee;
}
#app-container{
  header{
    height: #sizes[header-height];
    background-color: @navbar-color;
    border-bottom: 1px solid #ccc;

    h2 {
      margin: 5px 0;
    }
  }

  main {
    padding-top: #sizes[header-height] + 2;
    padding-bottom: #sizes[footer-height] + 2;
  }

  footer{
    height: #sizes[footer-height];
    background-color: @navbar-color;
    border-top: 1px solid #ccc;

    nav {
      text-align: center;

      a {
        display: block;
        height: #sizes[footer-height]-1;
        text-decoration: none;
        color: dimgrey;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &.active{
          &, &:focus{
            color: royalblue;
          }
        }
      }
    }
  }
}

section.field-group {
  margin-top: 2rem;

  h1 {
    font-size: 1rem;
    color: #666;
  }

  & > div {
    background-color: @navbar-color;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 5px 0;
  }
}
